version: "3.8"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin12345
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # API S3 compatibile
      - "9001:9001"   # console web
    volumes:
      - ./data:/data
